@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@100;200;300;400;500;600;700&display=swap);

body {
  --fontf: 'Oxygen',
    sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

.container {
  padding: 50px;
  width: 45%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 6px #d4d4d4;
  position: relative;
}

.profilInfo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-family: var(--fontf);
}

h1 {
  font-weight: 500;
  font-size: 45px;
}

p {
  margin: 20px 0;
  font-size: 27px;
  padding-right: 50px;
}

button {
  font-family: var(--fontf);
  border: none;
  background-color: black;
  color: white;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 4px 4px 12px 5px #8686869d;
  cursor: pointer;
  transition: all .2s;
}

button:hover {
  box-shadow: none;
}

.profilImage {
  width: 700px;
  height: 600px;
}

.profilImage img {
  width: 100%;
  height: 100%;
}

.icons {
  position: absolute;
  bottom: 80px;
}

.icons span {
  display: inline-block;
  font-size: 40px;
  margin-right: 30px;
  cursor: pointer;
  padding: 4px;
}

.icons span:hover i {
  text-shadow: none;
}

.icons span i {
  transition: all .2s;
  text-shadow: 4px 7px 10px;
}

.icons span:nth-child(2) {
  color: #1d59c0;
}

.icons span:nth-child(3) {
  color: crimson;
}